@charset "utf-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
	
}
html,body{
	font:10pt "나눔고딕" color:#666
	
	

}
img{
	display:block;
	max-width:100%;
	
	
}




#layout{
		width:1100px;
		height:1200px; border:3px solid red;
		margin:auto;
	
}